*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial Narrow, sans-serif;*/
}

body
{
    background-color: whitesmoke;
}

a
{
    font-style: normal;
    text-decoration: none;
    color: black;
}


.container
{
    margin: 0 auto;
    width: 1000px;
    border: 2px solid black;
    background-color: white;
}

input, textarea
{
    padding: 2px;
}

.header_menu-line
{
    display: flex;
    height: 32px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.header_menu_text-element
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 280px;
    padding: 5px 30px;
}

.line_button
{
    /*padding-top: 10px;*/
    display: flex;
    align-items: center;
}

.button
{
    width: 115px;
    height: 20px;
    font-size: 14px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
}

.node_wrapper
{
    display: block;
    margin-top: 15px;
    border: 2px #b3b1b5 solid;
    border-radius: 3px;
    padding: 3px;
}

.node_wrapper:hover
{
    border: 2px black solid;
}

.line_button_element
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 110px;
    margin: 3px 10px 3px 0;
}

.current_root_name
{
    margin: 10px 0;
    font-weight: bold;
}

.indent
{
    padding: 0 25px 10px 25px;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.main_block
{
    flex-basis: 100%;
    flex-grow: 1;
}

.node_name
{
    font-weight: bold;
}

.node_text
{
    font-style: italic;
}

.child_nodes
{
    padding: 5px 8px;
    border: 2px #b3b1b5 solid;
    border-radius: 2px;
}

.line_number_nodes
{
    border-bottom: 1px black solid;
}

.img_crud
{
    width: 100%;
    height: 100%;
}

button
{
    border: 1px whitesmoke solid;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.img_delete
{
    border: none;
    height: 100%;
    width: 100%;
    background-image: url("static/img/pngwing.com.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: 0 0;

}

.edit_node_button
{
    margin-left: 10px;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #F5F5F5;
}

.edit_node_button:hover
{
    background-color: #b6edf0;
}

.crud_button_line
{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    align-items: stretch;
}

.button_delete
{
    width: 29px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

textarea,input
{
    border-right: 3px;
}

#button_add_node
{
    display: flex;
    width: 110px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border: 1px #b1e4fa solid;
    background: #b1e4fa;
    border-radius: 5px;
    padding: 7px 7px;
    margin-bottom: 8px;
}

#button_add_node:hover
{
    border: 1px #13aff2 solid;
    background: #13aff2;
}

.selected_element
{
    border-bottom: 1px black solid;
}